.intro {
    background-color: #3caea3;
    padding-bottom: 10px;
    padding-top: 10px;

}
/* .form-control{
    text-align: center;
} */
h1 {
    color: #fff;
}
h3 {
    color: #fff;
}
.test {
    display: flexbox;
}
.emailform {
    margin: auto;
}

.color1{
    background-color: #34cd59;
}
.color2{
    background-color: #2dc4c0;

}
.color3{
    background-color: #fccc2f;

}
.color4{
    background-color: #ed553b;

}
.color5{
    background-color: #20639b;

}
.color6{
    background-color: #3caea3;
    
}
.color7{
    background-color: #c20001;

}
.submit-field{
    background-color: #20639b;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20%;

}
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}


.test .big-box {
    flex: 0 0 50%;                /* width of first flex item in main container */
    padding-top: 15%;
    padding-bottom: 10%;
}
.form-control {
    opacity: 1;
    border-radius: 5px;
    max-width: 80%;
    margin: auto;

}


section {
    flex: 0 0 50%;                /* width of second flex item in main container */
    display: flex;                /* nested flex container to arrange smaller items */
    flex-wrap: wrap;              /* make container multi-line */
}
section .small-box {
    flex: 0 0 50%;                /* width of smaller items; two max per row */
    width: 100%;
    padding-top: 20%;
    padding-bottom: 10%;

    
}
section .small-box-2 {
    flex: 0 0 50%;                /* width of smaller items; two max per row */
    width: 100%;
    padding-top: 5%;
    padding-bottom: 7%;

    
}
.picture-box {
    padding-top: 0;
    padding-bottom: 0;
    flex: 0 0 50%;                /* width of smaller items; two max per row */
    width: 100%;
    overflow: hidden;

}
.picture-box img {
 opacity: 0.2;
 width: 100%;
 transition: ease 1.5s;
}

.picture-box img:hover {
    transform: scale(1.2);

}
.big-pic {
    background-image: url(images/dog.jpg);
    opacity: 1;
    background-blend-mode: lighten;
    background-size: cover

}

/*if the width is greater than 1177, we switch to flex (horizontal line)*/
@media (min-width: 1177px) {
    .test {
        display: flex;
    }
    .emaileric {
        margin: 0% 100px;
    }
    .form-control{
        text-align: left;
    }
}